# Dossier du corpus
RAG_SOURCE_DIR=data/corpus/

# Chemin et nom de la base de données
DATABASE_PATH=./chroma_db
COLLECTION_NAME=rag_electrodomus

# Tailles des chunks
MAX_TOKENS=512
MIN_TOKENS=200

# Modèle d'embedding
EMBED_MODEL=BAAI/bge-m3
